
.button{
    background-color: #4A4A4A;
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-weight: bold;
    color: white
}

.ant-tabs-nav ant-tabs-nav-animated{
    width: 100%
}

.button-1{
    // background-color: #4A4A4A;
    border-radius: 0;
    width: 480px;
    height: 100%;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    font-weight: bold;
}

.button-2{
    // background-color: #D2D2D2;
    border-radius: 0;
    width: 480px;
    height: 100%;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    font-weight: bold;
    color: black;
}