
.button{
    background-color: #FFFFFF;
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-weight: bold;
    color: white
}

.ant-tabs-nav ant-tabs-nav-animated{
    width: 100%
}
.ant-tabs-tab-active > .tab-button{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 2% 0;
    color:#EB2C17;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}
.tab-button{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 2% 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.ant-tabs-tab{
    padding: 1% 1% !important;
    height: 100% !important;
}

.icon-tab{
    font-size: 30px;
    margin-right: 2%;
}
.image-info{
    height: 220px;
    border-radius: 5px
}
.info-container{
    width: 100%;
    padding: 1% 2%;
}

.quantity-button-wrapper{
    border-radius: 5px;
    width: 100%;
    padding-right: 4px;
    border: 1px solid
}
.display-quantity-div{
    text-align: center;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    padding-top: 20%;
}
.cart-button{
    font-size: 25px;
    padding: 5% 8%;
    border-radius: 8px;
    color:white;
    background-color: #2657BE;
    font-weight: bold;
    box-shadow: 11px 11px 32px -8px #2657BE;
}
.cart-plus-icon{
    font-size: 30px;
    margin-right: 5%
}
.info-feedback-container{
    padding: 2% 0% 2% 2%;
}
.feedback-info{
    padding: 2% 0%
}
.food-info{
    padding: 5% 0%
}
.feedback-container{
    padding-right: 2%
}
.feedback-wrapper{
    border: 0.5px solid lightgray;
    border-radius: 5px;
    margin: 2% 0%
}
.icon-wrapper{
    width: 6%;
    font-size: 25px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}
.feedback-content{
    width: 94%;
    font-size: 16px;
    font-weight: 500;
    padding-top: 1%;
    padding-right: 1.5%
}
.avarage-star-icon{
    color:#FF331C;
    margin-right: 2%
}
.rate-count{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600   
}
.star-rate-style{
    color: orange;
    font-size: 10px;
    margin-right: 1%;
    padding-top: 1%;
    padding-bottom: 2%
}
.fa-2x{
    margin-right: 4px;
}
.number-feedback{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600  
}
.food-name{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold  
}
.store-name{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500  
}
.food-price{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.food-court-info{
    padding: 2% 0%
}
.food-court-title{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 
}
.food-court-name{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold
}
.food-court-address{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.total-price-dish-info{
    font-weight: bold;
    text-align: right;
    width: 100%;
    padding: 4%;
}
.ant-tabs-top-bar {
    width: 100%;
}
.ant-tabs-default-bar{
    width: 100%
}
.ant-tabs-nav-container{
    width: 100%;
}
.ant-tabs-nav-wrap{
    width: 100%;
}
.ant-tabs-nav-scroll{
    width: 100%;
}
.ant-tabs-nav {
    width: 100%;
}
    
.ant-tabs-nav .ant-tabs-tab{
    width: 48% !important
}

.ant-checkbox-group-item{
    padding: 5% 0% 5% 0%;
    width: 100px;
    text-align: center
    /* height: 50px; */
}
.ant-checkbox{
    left: 78%;
    top: -25px !important
}
.ant-checkbox-wrapper{
    background-color: aquamarine;

    font-size: 18px;

  }
.ant-checkbox-wrapper-checked{
    background-color: #30394D;
    color: white;

}

.form .plan input, .form .payment-plan input, .form .payment-type input{
	display: none;
}

.check-box-label{
	position: relative;
	color: #353535;
	background-color: #fff;
    font-size: 18px;
    font-weight: 600;
	text-align: center;
	height: 70px;
	line-height: 350%;
	display: block;
	cursor: pointer;
	border: 2px solid #30394D;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 5% 10% 5% 0%;
    white-space: pre-wrap
}
.size-label{
    line-height: 150% !important;
    padding: 5% 0%;
}
.price-size{
    font-weight: 300 !important
}
.choose-price-label{
    line-height: 300% !important;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
	border: 3px solid #333;
    background-color: #30394D;
    color:white
}

.form .plan input:checked + label:after, form .payment-plan input:checked + label:after, .form .payment-type input:checked + label:after{
	content: "\2713";
	width: 30px;
	height: 30px;
	line-height: 25px;
	border-radius: 100%;
	border: 2px solid #fff;
    background-color: #30394D;
    color: #fff;
	z-index: 999;
	position: absolute;
	top: -10px;
	right: -10px;
}
.option-title{
    padding: 2% 0%;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.no-feedback-img{
    margin-top: 15%;
    width: 50%
}

.comment-press-meal{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #AAAAAA
}

.ant-tabs-ink-bar{
    background-color:#EB2C17;
}