
.button{
    background-color: #4A4A4A;
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-weight: bold;
    color: white
}

.ant-tabs-nav ant-tabs-nav-animated{
    width: 100%
}

.button-tab{
    // background-color: #4A4A4A;
    border-radius: 0;
    width: 720px;
    height: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 3px 0;
}
