
.image-1{

}

.border-custom{
    border-radius: 10px;
    background-color: #fff;
}

.purchase-button-1{
    width: 100%;
    height: 50px;
    background-color: cyan;
    color: white;
    font-weight: bold
}

.card-button{
    width: 100%;
    height: 50px;
    color: white;
    font-weight: bold
}
.cash-button{
    width: 100%;
    height: 130px;
    text-align: left;
    padding-top: 0.5rem;
    padding-left: 2rem;
    border-radius: 10px;
    background-color: #E6E6E6
    // padding-bottom: 0
}

.payment-type-wrapper{
    border-radius: 10px;
    padding: 1.5rem 2rem;
    background-color: #E6E6E6
}
.payment-type-detail{
    padding-top: 0.5rem;
}
.payment-type-detail h6{
    margin-bottom: 0 !important;
}

.close-button-item-cart-wrapper{
    padding-left:5%;
    padding-right: 20%
}

// .display-quantity-div{
//     padding: 14% 50%
// }
@media all and (max-width: 1920px) {
    .mini-cart-wrapper{
        height: 1080px;
        background-color: #f5f5f5;
    }
    .trash-button{
        z-index: 2;
        position:'absolute';
        top: 30px;
        left: 88%;
        width: 20px;
        height: 20px;
        background-color: red;
        color: white;
        padding: 0 !important
    }
    .total-price-wrapper{
        font-size: 16px;
    }

    .customize-order-button{
        background-color: #40a9ff;
        color: white;
        width: 100%;
        font-size: 14px
    }

}

@media all and (max-width: 1440px) {
    .mini-cart-wrapper{
        height: 960px;
        background-color: #f5f5f5;
    }
    .trash-button{
        z-index: 2;
        position:'absolute';
        top: 30px;
        left: 85%;
        width: 20px;
        height: 20px;
        background-color: red;
        color: white;
        padding: 0 !important
    }
    .total-price-wrapper h6{
        font-size: 14px;
    }
   
    .customize-order-button{
        background-color: #40a9ff;
        color: white;
        width: 100%;
        font-size: 11px
    }

}

@media all and (max-width: 1280px) {
    .mini-cart-wrapper{
        height: 720px;
        background-color: #f5f5f5;
    }
    .trash-button{
        z-index: 2;
        position:'absolute';
        top: 30px;
        left: 82%;
        width: 20px;
        height: 20px;
        background-color: red;
        color: white;
        padding: 0 !important
    }
    .total-price-wrapper h6{
        font-size: 12px;
    }
    
    .customize-order-button{
        background-color: #40a9ff;
        color: white;
        width: 100%;
        font-size: 9px
    }

}

@media all and (max-width: 1024px) {
    .mini-cart-wrapper{
        height: 500px;
        background-color: #f5f5f5;
    }
    .total-price-wrapper h6{
        font-size: 12px;
    }
    .close-button-item-cart-wrapper{
        padding: 0.2rem 0.5rem;
    }
}