.border-custom{
    border: 1px solid lightgray !important;
    border-radius: 10px;
}
.order-id-div{
    background-color: #4A4A4A;
    border-radius: 5px;
    color: 'white';
}
.order-id-text{
    color: #fff;
    padding-bottom: 0 !important;
    font-size: 20px;
    font-weight: bold;
}
.button-custom{
    height: 50px;
    background-color: #4A4A4A
}
.order-config-container{
    padding-top: 10%;
    padding-bottom: 10%;
}

.number-pad-border{
    padding-right: 8rem;
  }

  .arrow-button{
      height: 60px;
      width: 60px
  }

.order-status-wrapper{
    border: 1px solid;
    border-radius: 10px;

}