.store-category{
    background-color: #02B1D0;
    color:white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-right: 5%;
    padding-left: 0;
    padding-right: 0;
}

.food-item-wrapper{
    border-left: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    border-radius: 0px 0px 5px 5px;
}
.button-add{
    background-color: #28C76F;
    color:white;
    width: 80%;
    height: 35px;
}