.store-category{
    background-color: #02B1D0;
    color:white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-right: 5%;
    padding-left: 0;
    padding-right: 0;
}

.food-item-wrapper{
    border-left: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    border-radius: 0px 0px 5px 5px;
}
.button-add{
    background-color: #28C76F;
    color:white;
    width: 80%;
    height: 35px;
    margin-left: 10%;
}
[ant-click-animating-without-extra-node]:after {
	animation: 0s !important;
}
.ant-btn.ant-btn-background-ghost::after {
    border: none !important;
    }
@media all and (max-width: 1920px) {
    .restaurant-title{
        font-size: 15px;
        font-weight: 600;
        font-family: Arial;
        padding: 0px 0px;
    }
    .promotion-tag-wrapper{
        border-radius: 6px;
        padding: 7% 10%;
        background-color: #32CCBC;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 15px;
    }
}

@media all and (max-width: 1440px) {
    .restaurant-title{
        font-size: 13px;
        font-weight: 600;
        font-family: Arial;
        padding: 0px 2px;
    }
    .promotion-tag-wrapper{
        border-radius: 6px;
        padding: 7% 10%;
        background-color: #32CCBC;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 14px;
    }
}

@media all and (max-width: 1280px) {
    .restaurant-title{
        font-size: 11px;
        font-weight: 600;
        font-family: Arial;
        padding: 0px 3px;
    }
    .promotion-tag-wrapper{
        border-radius: 6px;
        padding: 7% 10%;
        background-color: #32CCBC;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 12px;
    }
}

@media all and (max-width: 1024px) {
    .restaurant-title{
        font-size: 9px;
        font-weight: 600;
        font-family: Arial;
        padding: 0px 8px;
    }
    .promotion-tag-wrapper{
        border-radius: 6px;
        padding: 7% 10%;
        background-color: #32CCBC;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 10px;
    }
}