.store-category{
    background-color: #02B1D0;
    color:white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-right: 5%;
    padding-left: 0;
    padding-right: 0;
}

