
.preview-cart-container{
    position: fixed;
    left: 83%;
    width: 17%;
}
.preview-cart-container-hidden{
    position: fixed;
    left: 83%;
    width: 17%;
    display: none;
}
.menu-container{
    margin-top: 3%;
}