
.home-container{
    background-image: url( https://stmed.net/sites/default/files/styles/1920x1200/public/food-wallpapers-28249-8282567.jpg?itok=u3pTxv1s);
    height: 100vh;
    width: 100%;
}
.group-button{
    padding-top: 40%
}
@media all and (max-width: 1920px) {
    .button-check{
        width: 45%;
        border-radius: 5px;
        background-color: white;
        font-size: 25px;
        color: black;
        font-weight: 500;
        padding: 2% 0%;
    }
    .button-order{
        width: 45%;
        height: 75px;
        border-radius: 5px;
        background-color: #f5222d;
        font-size: 25px;
        color: white;
        font-weight: 500
    }
}

@media all and (max-width: 1440px) {
    .button-check{
        width: 40%;
        height: 60px;
        border-radius: 5px;
        background-color: #f5222d;
        font-size: 13px;
        color: white;
        font-weight: 500
    }
    .button-order{
        width: 40%;
        height: 60px;
        border-radius: 5px;
        background-color: mediumturquoise;
        font-size: 13px;
        color: white;
        font-weight: 500
    }
}

@media all and (max-width: 1024px) {
    .button-check{
        width: 40%;
        height: 50px;
        border-radius: 5px;
        background-color: limegreen;
        font-size: 11px;
        color: white;
        font-weight: 500
    }
    .button-order{
        width: 40%;
        height: 50px;
        border-radius: 5px;
        background-color: mediumturquoise;
        font-size: 11px;
        color: white;
        font-weight: 500
    }
}