
.button-1{
    background-color: #4A4A4A;
    border-radius: 0;
    width: 50%;
    height: 100%;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    font-weight: bold;
}

.button-2{
    background-color: #D2D2D2;
    border-radius: 0;
    width: 50%;
    height: 100%;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    font-weight: bold;
    color: black;
}