.container-custom{
    padding-top: 5%;
}
.banner{
    background-color: #4A4A4A;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid;
    border-radius: 10px;
}
.text-banner{
    color: #fff;
}

.image-border{
    border: 2px solid;
    border-radius: 10px;
    width: 23%;
    margin-top: 15%
}
.image-style{
    width: 100px;
    height: 100px;
}
.qr-text-div{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.button-border-div{
    padding-left: 20%;
    padding-right: 20%;
}
.button-custom{
    height: 50px;
    background-color: #4A4A4A
}
.cart-payment-div{
    padding-right: 7rem
}
.choose-payment-container{
    height: 100vh;
}
.payment-type-container{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    height: 100%;
    padding-left: 2%
}
.back-page-wrapper{
    padding: 3% 5%
}
.arrow-button{
    font-size: 28px;
    padding: 5% 20%;
    border-radius: 10px;
    border: 1px solid gray
}
.payment-process{
    text-align: center;
    padding: 6% 0%;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.cancel-membership-button{
    width: 100%;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    margin-top: 60%;
}