.user-button{
    width: 90%;
    height: 50px;
    font-size: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #d9d9d9
}
.cancel-button{
    width: 90%;
    height: 50px;
    font-size: 17px;
    border-bottom-left-radius: 20px;
    background-color: #d9d9d9
}