.image-container-scroll{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
  }
  .image-wrapper-scroll{
    height: 650px;
    overflow: auto
  }

  .container-dishes{
    width: 100%;
    border-radius: 10px;
    background-color: floralwhite;
    margin-top: 15px;
    margin-bottom: 15px;
  }

