.border-custom{
    border-radius: 2px;
    background-color: #fff;
}
.purchase-button-1{
    width: 100%;
    height: 50px;
    background-color: cyan;
    color: white;
    font-weight: bold
}
.img-button-wrapper{
    height: 150px;
}

.img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -11%;
    width: 100%;
}
.ant-modal-header{
    padding: 11px 24px !important;
  }
  .ant-modal-close-x{
    background-color: red;
    border-radius: 5px;
    font-size: 30px !important;
    color:white;
    height: 100%;
  }
@media all and (max-width: 1920px) {
    .mini-cart-wrapper{
        height: 1080px;
        background-color: #f5f5f5;
    }
    .trash-button{
        z-index: 2;
        position:'absolute';
        top: 5px;
        left: 88%;
        width: 20px;
        height: 20px;
        background-color: red;
        color: white;
        padding: 0 !important
    }
    .total-price-wrapper{
        font-size: 16px;
    }
}

@media all and (max-width: 1440px) {
    .mini-cart-wrapper{
        height: 960px;
        background-color: #f5f5f5;
    }
    .trash-button{
        z-index: 2;
        position:'absolute';
        top: 30px;
        left: 85%;
        width: 20px;
        height: 20px;
        background-color: red;
        color: white;
        padding: 0 !important
    }
    .total-price-wrapper h6{
        font-size: 14px;
    }


}

@media all and (max-width: 1280px) {
    .mini-cart-wrapper{
        height: 720px;
        background-color: #f5f5f5;
    }
    .trash-button{
        z-index: 2;
        position:'absolute';
        top: 30px;
        left: 82%;
        width: 20px;
        height: 20px;
        background-color: red;
        color: white;
        padding: 0 !important
    }
    .total-price-wrapper h6{
        font-size: 12px;
    }
    

}

@media all and (max-width: 1024px) {
    .mini-cart-wrapper{
        height: 500px;
        background-color: #f5f5f5;
    }
    .total-price-wrapper h6{
        font-size: 12px;
    }
    .close-button-item-cart-wrapper{
        padding: 0.2rem 0.5rem;
    }
}