.border-custom{
    border-radius: 5px;
    background-color: #fff;
}
.purchase-button-1{
    width: 100%;
    height: 60px;
    background-color: #10239e;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 7px
}
.img-button-wrapper{
    height: 150px;
}

.img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -10.2%;
    width: 100%;
    height: 160px;
    z-index: 2;
}
.ant-modal-header{
    padding: 11px 24px !important;
  }


.food-info-cart{
    z-index: 50;
    bottom: 30%;
    color:white;
    padding-left: 5%
}
.btn-dec{
    width: 26px;
    height: 26px;
    background-color: #ff7a45;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 10px;
    color:white
}
.btn-inc{
    width: 26px;
    height: 26px;
    background-color: #ff7a45;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 10px;
    padding: 0% 6%;
    color:white
}
.display-quantity-1{
    color:white;
    background-color: #ff7a45;
    height: 60%;
    padding: 5% 0%;
    text-align: center
}
.mini-cart-wrapper{
    height: 100vh;
    padding: 0% 10%;
    background-color: #fff;
}
@media all and (max-width: 1920px) {
    
    .trash-button{
        top: 5px;
        width: 22px;
        height: 24px;
        background-color: #10239e;
        color: white;
        padding: 0 !important
    }
    .total-price-wrapper{
        font-size: 16px;
    }
}

@media all and (max-width: 1440px) {
    // .mini-cart-wrapper{
    //     height: 960px;
    //     background-color: #f5f5f5;
    // }
    .trash-button{
        z-index: 2;
        position:'absolute';
        top: 3px;
        left: 85%;
        width: 20px;
        height: 20px;
        background-color: red;
        color: white;
        padding: 0 !important
    }
    .total-price-wrapper h6{
        font-size: 14px;
    }


}

@media all and (max-width: 1280px) {
    // .mini-cart-wrapper{
    //     height: 720px;
    //     background-color: #f5f5f5;
    // }
    .trash-button{
        z-index: 2;
        position:'absolute';
        top: 10px;
        left: 82%;
        width: 20px;
        height: 20px;
        background-color: red;
        color: white;
        padding: 0 !important
    }
    .total-price-wrapper h6{
        font-size: 12px;
    }
    

}

@media all and (max-width: 1024px) {
    // .mini-cart-wrapper{
    //     height: 500px;
    //     background-color: #f5f5f5;
    // }
    .total-price-wrapper h6{
        font-size: 12px;
    }
    .close-button-item-cart-wrapper{
        padding: 0.2rem 0.5rem;
    }
}